parameters:
	# database settings
	server: 127.0.0.1
	user: local
	password: local
	databases:
		auth: w_auth
		characters: w_characters
		world: w_world

	# system e-mails author
	email: Account Manager 2.0 <your@server.tdl>

	# game expansion (classic, tbc, wotlk or cata)
	version: wotlk

	# emulator (tc, oregon or skyfire)
	emulator: tc

	# prices - if type=golds then count is count of golds, when type=item count is ITEM_ID:NUMBER_OF_ITEMS (example: 123:10)
	prices:
		rename:
			type: item
			count: 5000000:10

		teleport:
			type: golds
			count: 50

	# teleporter locations, full coordinates (x, y, z, o, map) or link to 'game_tele.name' table/column
	locations:
		'Orgrimmar': Orgrimmar
		'Stormwind':
			x: -8833.38
			y: 628.628
			z: 94.0066
			o: 1.06535
			map: 0
		'Stormwind Harbor': StormwindHarbor